.container{
    margin-bottom: 70px;
}
.logo{
    width: 100px;
}
.carousel-indicators li{
    background-color: orange;
    height: 5px;
}
.banner-bg{
    background-color: rgba(238, 130, 238, 0.562);
    border-radius: 10px;
}
.buy-now-button {
    background-color: rgba(255, 20, 145, 0.822);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}
.carousel-item{
    padding: 30px 50px;
}
.text-align{
    text-align: center;
}
.card{
    box-shadow: 5px 10px 20px gray;
    border-radius: 5px;
}
.card-footer{
    border: none;
    background-color: white;
}
.title-right{
    color: tomato;
    margin-bottom: 40px;
}
.cat1{
    background-color: green;
}
.cat2{
    background-color: indigo;
}
.cat3{
    background-color: lightseagreen;
}
#category img{
    height: 100px;
}
.cat1,.cat2,.cat3{
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
}
.card img{
    height: 310px;
}
.middle{
    margin-bottom: 50px;
}
.first{
}
.first,.middle,.last{
    padding:  40px;
    box-shadow: 10px 20px 30px gray;
    border-radius: 10px;
}
.title-middle{
    margin-bottom: 70px;  
}
#overview span{
    border-bottom: 5px solid orange;
    border-radius: 5px;
}
.overview-img{
    margin-left: 50px;
}
#submit{
    height: 300px;
}
#submit p{
    color: gray;
}
footer{
    text-align: center;
}