.container{
    margin-bottom: 70px;
}
.logo{
    width: 100px;
}
.carousel-indicators li{
    background-color: tomato;
    height: 5px;
}
.banner-bg{
    background-color: rgba(238, 130, 238, 0.562);
    border-radius: 10px;
}
.buy-now-button {
    background-color: rgba(255, 20, 145, 0.822);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}
.carousel-item{
    padding: 30px 50px;
}
.text-align{
    text-align: center;
}
.card{
    box-shadow: 5px 10px 20px gainsboro;
}
.card-footer{
    border: none;
    background-color: white;
}
.title{
    margin-bottom: 40px;
}
.title-right{
    color: tomato;
}